.main{
    height: 500px;
     width: 800px;
      background-color: pink;
}
.one{
    height: 100px;
     width: 800px;
      background-color: darkcyan;
}
.two{
    height: 400px;
     width: 800px; 
     background-color: green; 
}
.three{
    height: 100px; 
    width: 100px;
    background-color: red;
    float: left
}
.four{
    height: 100px; 
    width: 100px;
    background-color: orange;
    float: right;
}
.five{
    height: 50px; 
    width: 100px;
    background-color: blue;
}
.six{
    height: 50px; 
    width: 100px;
    background-color: pink;
}
.seven{
    height: 50px; 
    width: 50px;
    background-color: yellow;
    float: left;
}
.eight{
    height: 50px; 
    width: 50px;
    background-color: aqua;
    float: right;
}
.nine{
    height: 400px; 
    width: 100px;
    background-color: orange;
    float: left;
}
.ten{
    height: 400px; 
    width: 700px;
    background-color: pink;
    float: right;
}
.one1{
    height: 100px; 
    width: 700px;
    background-color: brown;
}
.one2{
    height: 300px; 
    width: 700px;
    background-color: yellow;
}
.one3{
    height: 300px; 
    width: 300px;
    background-color: rgb(101, 12, 209); 
    float: left;
}
.one4{
    height: 300px; 
    width: 400px;
    background-color: aqua;
    float: right;
}
.one5{
    height: 300px; 
    width: 150px;
    background-color:crimson;
    float: left;
}
.one6{
    height: 300px; 
    width: 150px;
    background-color:darkkhaki;
    float: right;
}
.one7{
    height: 200px; 
    width: 150px;
    background-color:fuchsia;

}
.one8{
    height: 100px; 
    width: 150px;
    background-color:gold;
}
.one9{
    height: 200px; 
    width: 75px;
    background-color:purple;
    float: left;
}
.one10{
    height: 200px; 
    width: 75px;
    background-color:lightcoral;
    float: right;
}

.one11{
    height: 100px; 
    width: 400px;
    background-color: hotpink;
}
.one12{
    height: 200px; 
    width: 400px;
    background-color: orange;
}
.one13{
    height: 200px; 
    width: 133.3333333333333px;
    background-color: khaki;
    float: left;
}
.one14{
    height: 200px; 
    width: 133.3333333333333px;
    background-color: lightcoral;
    float: left;
}
.one15{
    height: 200px; 
    width: 133.3333333333333px;
    background-color: mediumaquamarine;
    float: right;
}
.one16{
    height: 100px; 
    width: 133.3333333333333px;
    background-color: mediumaquamarine;
}
.one17{
    height: 100px; 
    width: 133.3333333333333px;
    background-color: red;
}
.one18{
    height: 100px; 
    width: 66.66666666666665px;
    background-color: royalblue;
    float: left;
}
.one19{
    height: 100px; 
    width: 66.66666666666665px;
    background-color:saddlebrown;
    float: left;
}
.one20{
    height: 100px; 
    width: 133.3333333333333px;
    background-color: mediumaquamarine;
}
.one21{
    height: 100px; 
    width: 133.3333333333333px;
    background-color: red;
}
.one22{
    height: 100px; 
    width: 66.66666666666665px;
    background-color: royalblue;
    float: left;
}
.one23{
    height: 100px; 
    width: 66.66666666666665px;
    background-color:saddlebrown;
    float: left;
}
.one24{
  height: 300px;
  width: 100px;
  background-color: blue;
}
.one25{
    height: 100px;
    width: 100px;
    background-color: skyblue;
}
.one26{
    height: 100px;
    width: 50px;
    background-color: red;
    float: left;
}
.one27{
    height: 100px;
    width: 50px;
    background-color: purple;
    float: right;
}

